<div class="sidenav-container">
    <mat-toolbar color="primary">
        <span>Productos</span>
    </mat-toolbar>
    <div style="padding: 5px;">
        <div fxLayout="column" class="form-container" fxLayoutAlign="space-around space-around" fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs='column' fxLayout.md='column'>

                <div fxFlex="50" fxLayoutGap="20px" fxLayout="row">


                    <mat-form-field fxLayoutGap="20px" fxFlex="10">
                        <mat-label>
                            Clave
                        </mat-label>
                        <input matInput type="text" required>
                    </mat-form-field>

                    <mat-form-field fxFlex="30">
                        <mat-label>
                            Nombre
                        </mat-label>
                        <input matInput type="text" required>
                    </mat-form-field>
                </div>

            </div>
            <app-catalogo-table></app-catalogo-table>
        </div>
    </div>



</div>

<div class="outerContainer">
    <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="10px" class="container">
        <div fxLayoutAlign="center center">1</div>
        <div fxLayoutAlign="center center">2</div>
        <div fxLayoutAlign="center center">3</div>
        <div fxLayoutAlign="center center">4</div>
    </div>
</div>